:root {
  --secondary: #fff;
  --lighterBlue: #637b94;
  --lightGray: rgba(12, 12, 12, 0.45);
  --darkGray: #424141;
  --primaryFont: "IBM Plex Sans", sans-serif;
  --secondaryFont: "Open Sans", sans-serif;
}

body {
  background-color: var(--secondary);
  font-family: "IBM Plex Sans", sans-serif !important;
}

h1,
h2,
h3 {
  border-bottom: 2px solid var(--primary);
  font-family: "Open Sans", sans-serif !important;
}
